/**
 * This .babelrc is for react-native, webpack, gulp and jest. 
 * For jest testing, the settings in test environment is used.
 * 
 * For compiling web source by webpack, the babel settings are in the webpack
 * configuration which is created by ./webpack/makeConfig.js
**/
{
  "presets": ["react-native"],
  "env": {
    "test": {
      "presets": [
        ["es2015", { "loose": false, "modules": false }], 
        "react", 
        "stage-1"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
