{
  "parser": "babel-eslint",
  "plugins": [
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true 
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    // Used by webpack-isomorphic-tools and React Native.
    "global-require": "off",
    // Easy for naming local variable
    "no-param-reassign": "off",
    "object-property-newline": "off",
    "arrow-body-style": "off",
    // Use js for jsx
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    // Allow object react prop types.
    "react/forbid-prop-types": "off",
    "react/sort-comp": ["warn", {
      "order": [
        "type-annotations",
        "static-methods",
        "hifecycle",
        "everything-else",
        "render"
      ]
    }],
    // For immutable types.
    "new-cap": [
      "error", { "capIsNew": false, "newIsCap": true }
    ],
    // redux action might has one export
    "import/prefer-default-export": "off",
    // Class assign is used for higer order components.
    "no-class-assign": "off",
    "no-shadow": "off",
    // TODO: Turn on devDependencies check until issue fixed
    // https://github.com/benmosher/eslint-plugin-import/issues/602
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": true }
    ],
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
