@import "./artui/mixins";

#app {
  height: 100%;
}

.main.ui.container {
  width: auto !important;
  margin-left: @2spacer !important;
  margin-right: @2spacer !important;
}

.ui.console {
  > .topbar > .logo {
    background: #CAE5FF;
  }
}

.ui.console > .wrapper > .navbar {
  background: #6699CC;
}

.ui.console .navbar {
  .ui.menu {
    border-color: transparent;
  }
}

.filterPanel {
  label {
    padding: 0 10px;
    &:after {
      content: ":";
    }
  }
}

// Chart

.heatmap {
  padding: 20px;
  text-align: center;
  width: 100%;
}

// Utils

.inlin-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.padding20 {
  padding: 20px;
}

.padding40 {
  padding: 40px;
}