@import "./artui/mixins";
@import "./iconfont/iconfont.css";
@import "./styles/grid";
@import "./styles/statistic";
@import "./styles/treemap";
@import "./styles/heatmap";
@import '~react-datepicker/dist/react-datepicker.css';

#app {
  height: 100%;
  width: 100%;
}

.segment.inline {
  .field {
    display: inline-block;
    padding-left: 1em;
    &:first-child {
      padding-left: 0;
    }

    label {
      padding-right: 0.5em;
    }
  }
}

.yellow {
  color: #FBBD08; // #767676
}


.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.dygraph-legend {
  //background: transparent !important;
}

.auth.ui.container {
  @container-mixins();
  .makeContainer(320px);
}

.auth .ui.header > .image {
  width: 200px !important;
  height: 73px;
}

.auth.ui.middle.aligned.container > div {
  top: 30%;
  transform: translate(0px, -30%);
}

.auth .errorbox {
  visibility: hidden;
  position:absolute;
  background-color: white;
  left: 245px;
  margin-top: 2px;
  padding: 3px;
  white-space: nowrap;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.auth .errorbox.invalid {
  visibility: visible;
  color: red;
}

.auth i {
  margin-top: 7px;
  padding-left: 7px;
}
.auth i.placeholder {
  visibility: hidden;
}
.auth i.invalid {
  color: red;
}
.auth i.valid {
  color: green;
}

.auth .ui.form input.invalid {
  border: 1px red solid;
}
.auth .ui.form input.valid {
  border: 1px green solid;
}

.main.ui.container {
  width: auto !important;
  margin-left: @2spacer !important;
  margin-right: @2spacer !important;
}

.single-page > .ui.container {
  width: auto !important;
  margin-left: @2spacer !important;
  margin-right: @2spacer !important;
}

.ui.list {
  > .item {
    &.selected:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: #F2711C;
      top: 0;
    }

    &:hover {
      background-color: rgba(0,0,0, 0.05) !important;
    }
  }
}

.text-white {
  color: #eee;
  > a {
    color: #fff;
  }
}

.ui.console {
  > .topbar {
    z-index: 32;
    > .logo {
      width: 160px;
      background: #2196f3;
      //background: #ffffff;
      //border-bottom: thin solid #2f88e1;
    }
  }
}

.ui.console > .wrapper > .navbar,
.ui.console > .navbar {
  z-index: 12;
  width:160px;
}

.ui.console > .wrapper > .content, 
.ui.console > .content{
  padding-left: 180px;
}

.ui.console > .wrapper > .content.nopadding, 
.ui.console > .content.nopadding{
  padding-left: 30px;
}

.ui.console > .wrapper > .navbar {
  background: #88bbee;
}

.ui.console > .topbar {
  z-index: 1000;
}

.ui.console > .topbar > .inner {
  margin-left: 160px;
  > .ui.menu {
    //background: #88bbee;
    background: #2196f3;
    color: #EEEEEE;
    font-size: 16px;
    //border-bottom: thin solid #2f88e1;
  
    > .right.menu > .item,
    > .item {
      &:before {
        background: transparent;
      }
      color: #FFFFFF;
      background: transparent;
      &.active {
        //background: darken(#88bbee, 20%);
        background: #1976d2;
      }
    }
  }
}

.ui.selection.dropdown.active.visible{
  z-index:11;
}

.ui.console .navbar {
  .ui.menu {
    border-color: transparent;
  }
}

.filterPanel {
  label {
    padding: 0 10px;
    &:after {
      content: ":";
    }
  }
}

// Chart

.heatmap {
  padding: 20px;
  text-align: center;
  width: 100%;
}


// Utils
// Text Colors
.text-blue {
  color: #0066cc;
}
.text-muted {
  color: #999;
  font-size: 12px;
}
.text-center {
  text-align: center;
}
.fill {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.padding5 {
  padding: 5px;
}

.padding10 {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.padding40 {
  padding: 40px;
}

//
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Position
.relative {
  position: relative;
}

.dygraphDefaultAnnotation {
  cursor: pointer;
}

// Topbar
.topbar-text {
  margin-left: @2spacer !important;
  margin-right: @2spacer !important;
  padding-left: 10px;
  width: 100%;

  .title {
    font-size: 13px;
    padding-top: 5px;
    float: left;
  }

  .legend {
    font-size: 14px;
    float: right;
    width: 200px;
    padding-top: 3px;
    .colormap2 {
      float: left;
      color: #EEEEEE;
      width: 100%;
      background: -webkit-linear-gradient(to right, green, yellow, red);
      background: -o-linear-gradient(to right, green, yellow, red);
      background: -moz-linear-gradient(to right, green, yellow, red);
      background: linear-gradient(to right, green, yellow, red);
    }
  }
}

.detail-charts {
  margin-top: 20px;
}

.ui.graph {
  .dygraph-ylabel {
    font-size: 12px;
    line-height: 12px;
  }
  .dygraph-axis-label-y {
    width: 55px;
  }
}

.ui.inverted.menu .item {
  color: rgba(255, 255, 255, 1);
}

.ui.vertical.secondary.menu .item:not(.dropdown) > .menu > .item{
  color: rgba(255, 255, 255, 1);
}

.ui.vertical.inverted.menu .menu .item {
  color: rgba(255, 255, 255, 1);
  a:not(.ui){
    color: rgba(255, 255, 255, 1);
  }
}

.rc-slider-mark-text {
  width: 80px !important;
  margin-left: -40px !important;
}

.date-picker td.day.disabled{
  color: #888 !important;
}

.ui.console > .topbar > .logo > img {
  height: 36px;
  margin: 6px auto;
}

// Cloud Page
.ui.console > .projects-page.wrapper,
.ui.console > .settings-page.wrapper,
.ui.console > .log-page.wrapper,
.ui.console > .resources-page.wrapper,
.ui.console > .cloud-page.wrapper {
  > .navbar {
    background: #88bbee;
    overflow: inherit;
    width: 48px;
  }

  > .topbar > .logo {
    width: 60px;
    > img {
      width: 100%;
      height: 36px;
      margin: 6px auto;
    }
  }
  > .content {
    padding-left: 48px;
  }
  > .content.executive-dashboard,
  > .content.event-summary,
  > .content.app-forecast {
    padding-left: 8px;
  }

  .navbar {
    .ui.menu {
      width: 100%;
      border-color: transparent;
      position: relative;
      z-index: 100;
      &.icon-menu {
        > a {
          color: #fff;
          &.item.active {
            background-color: darken(#88bbee, 20%);
          }
          &:hover {
            width: 240px;
            background-color: darken(#88bbee, 20%);
            > span {
              left: 50px;
              line-height: 32px;
              display: inline-block;
            }
          }
          > i {
            font-size: 28px;
          }
          > span {
            position: absolute;
            left: 100%;
            display: none;
            line-height: 35px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

// Single Page Format
.single-page {
  background-color: #fff;
  padding-top: 100px;
  overflow: auto;
  .card {
    margin: 1em;
    padding: 20px;
    border: 2px solid #e0e0e0;
    min-height: 400px;
    h3 {
      padding: 0 0 1em;
    }
    i {
      font-size: 50px;
      color: #888;
    }
    a {
      color: #666;
      display: inline-block;
      width: 100%;
      margin: 0.3em 0.5em ;
      padding: 0.2em 0.5em;
      line-height: 1.2em;
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &:hover {
      i {
        color: #222;
      }
    }
    h3{
      padding:0;
    }
  }
}

.ui.console > .topbar > .inner {
  box-shadow: none !important;
}

.ui.console > .topbar {
  //box-shadow: 0 -1px 8px 1px #bbb;
}

.dygraph-legend {
  top: -48px !important;

  & > span {
    display: none !important;
  }
  & > span.highlight {
    display: block !important;
  }
}
.in-button{
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.2) !important;
  background-color: #CC511E !important;;
}

.ui.bar.graph {
  .dygraphDefaultAnnotation {
    width: 24px !important;
    transform: translateX(7px);

    &[title='Sunday'] {
      color: #F2711C !important;
      border-color: #F2711C !important;
    }
  }
}


[data-tooltip] {
    position: relative
}

[data-tooltip]:not([data-position]):before {
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    background: #FFF;
    margin-left: -.07142857rem;
    margin-bottom: .14285714rem
}

[data-tooltip]:not([data-position]):after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: .5em
}

[data-tooltip]:after,[data-tooltip]:before {
    pointer-events: none;
    visibility: hidden
}

[data-tooltip]:before {
    position: absolute;
    content: '';
    font-size: 1rem;
    width: .71428571em;
    height: .71428571em;
    background: #FFF;
    z-index: 2;
    box-shadow: 1px 1px 0 0 #bababc;
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0)!important;
    transform: rotate(45deg) scale(0)!important;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    text-transform: none;
    text-align: left;
    white-space: nowrap;
    font-size: 1rem;
    border: 1px solid #D4D4D5;
    line-height: 1.4285em;
    max-width: none;
    background: #FFF;
    padding: .833em 1em;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
    z-index: 1;
    opacity: 1;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

[data-tooltip]:hover:after,[data-tooltip]:hover:before {
    visibility: visible;
    pointer-events: auto
}

[data-tooltip]:hover:before {
    -webkit-transform: rotate(45deg) scale(1)!important;
    transform: rotate(45deg) scale(1)!important;
    opacity: 1
}

[data-tooltip]:after,[data-tooltip][data-position="top center"]:after,[data-tooltip][data-position="bottom center"]:after {
    -webkit-transform: translateX(-50%) scale(0)!important;
    transform: translateX(-50%) scale(0)!important
}

[data-tooltip]:hover:after,[data-tooltip][data-position="bottom center"]:hover:after {
    -webkit-transform: translateX(-50%) scale(1)!important;
    transform: translateX(-50%) scale(1)!important
}

[data-tooltip][data-position="left center"]:after,[data-tooltip][data-position="right center"]:after {
    -webkit-transform: translateY(-50%) scale(0)!important;
    transform: translateY(-50%) scale(0)!important
}

[data-tooltip][data-position="left center"]:hover:after,[data-tooltip][data-position="right center"]:hover:after {
    -webkit-transform: translateY(-50%) scale(1)!important;
    transform: translateY(-50%) scale(1)!important
}

[data-tooltip][data-position="top left"]:after,[data-tooltip][data-position="top right"]:after,[data-tooltip][data-position="bottom left"]:after,[data-tooltip][data-position="bottom right"]:after {
    -webkit-transform: scale(0)!important;
    transform: scale(0)!important
}

[data-tooltip][data-position="top left"]:hover:after,[data-tooltip][data-position="top right"]:hover:after,[data-tooltip][data-position="bottom left"]:hover:after,[data-tooltip][data-position="bottom right"]:hover:after {
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important
}

[data-tooltip][data-inverted]:before {
    box-shadow: none!important;
    background: #1B1C1D
}

[data-tooltip][data-inverted]:after {
    background: #1B1C1D;
    color: #FFF;
    border: none;
    box-shadow: none
}

[data-tooltip][data-inverted]:after .header {
    background-color: none;
    color: #FFF
}

[data-position="top center"][data-tooltip]:after {
    top: auto;
    right: auto;
    left: 50%;
    bottom: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: .5em
}

[data-position="top center"][data-tooltip]:before {
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    background: #FFF;
    margin-left: -.07142857rem;
    margin-bottom: .14285714rem
}

[data-position="top left"][data-tooltip]:after {
    top: auto;
    right: auto;
    left: 0;
    bottom: 100%;
    margin-bottom: .5em
}

[data-position="top left"][data-tooltip]:before {
    top: auto;
    right: auto;
    bottom: 100%;
    left: 1em;
    margin-left: -.07142857rem;
    margin-bottom: .14285714rem
}

[data-position="top right"][data-tooltip]:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: 100%;
    margin-bottom: .5em
}

[data-position="top right"][data-tooltip]:before {
    top: auto;
    left: auto;
    bottom: 100%;
    right: 1em;
    margin-left: -.07142857rem;
    margin-bottom: .14285714rem
}

[data-position="bottom center"][data-tooltip]:after {
    bottom: auto;
    right: auto;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: .5em
}

[data-position="bottom center"][data-tooltip]:before {
    bottom: auto;
    right: auto;
    top: 100%;
    left: 50%;
    margin-left: -.07142857rem;
    margin-top: .14285714rem
}

[data-position="bottom left"][data-tooltip]:after {
    left: 0;
    top: 100%;
    margin-top: .5em
}

[data-position="bottom left"][data-tooltip]:before {
    bottom: auto;
    right: auto;
    top: 100%;
    left: 1em;
    margin-left: -.07142857rem;
    margin-top: .14285714rem
}

[data-position="bottom right"][data-tooltip]:after {
    right: 0;
    top: 100%;
    margin-top: .5em
}

[data-position="bottom right"][data-tooltip]:before {
    bottom: auto;
    left: auto;
    top: 100%;
    right: 1em;
    margin-left: -.14285714rem;
    margin-top: .07142857rem
}

[data-position="left center"][data-tooltip]:after {
    right: 100%;
    top: 50%;
    margin-right: .5em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

[data-position="right center"][data-tooltip]:after {
    left: 100%;
    top: 50%;
    margin-left: .5em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

[data-position~=bottom][data-tooltip]:before {
    background: #FFF;
    box-shadow: -1px -1px 0 0 #bababc;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

[data-position="left center"][data-tooltip]:before {
    right: 100%;
    top: 50%;
    margin-top: -.14285714rem;
    margin-right: -.07142857rem;
    background: #FFF;
    box-shadow: 1px -1px 0 0 #bababc
}

[data-position="right center"][data-tooltip]:before {
    left: 100%;
    top: 50%;
    margin-top: -.07142857rem;
    margin-left: .14285714rem;
    background: #FFF;
    box-shadow: -1px 1px 0 0 #bababc
}

[data-position~=top][data-tooltip]:before {
    background: #FFF
}

[data-inverted][data-position~=bottom][data-tooltip]:before {
    background: #1B1C1D;
    box-shadow: -1px -1px 0 0 #bababc
}

[data-inverted][data-position="left center"][data-tooltip]:before {
    background: #1B1C1D;
    box-shadow: 1px -1px 0 0 #bababc
}

[data-inverted][data-position="right center"][data-tooltip]:before {
    background: #1B1C1D;
    box-shadow: -1px 1px 0 0 #bababc
}

[data-inverted][data-position~=top][data-tooltip]:before {
    background: #1B1C1D
}

[data-position~=bottom][data-tooltip]:after {
    -webkit-transform-origin: center top;
    transform-origin: center top
}

[data-position="left center"][data-tooltip]:before {
    -webkit-transform-origin: top center;
    transform-origin: top center
}

[data-position="left center"][data-tooltip]:after,[data-position="right center"][data-tooltip]:before {
    -webkit-transform-origin: right center;
    transform-origin: right center
}

[data-position="right center"][data-tooltip]:after {
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.ui.forecast.selection.dropdown {
  min-height: 2.28571429em;
  height: inherit;
  > .dropdown.icon {
    top: 6px;
  }
}

.ui.loading.container {
  position: relative;
  cursor: default;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

.ui.loading.container:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 0.14285714rem;
  z-index: 100;
}

.ui.loading.container:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: segment-spin 0.6s linear;
  animation: segment-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
.ui.loading.form:before {
  background: rgba(255, 255, 255, 1) !important;
}

.ui.loading.segment:before{
  z-index: 98;
  background: rgba(255, 255, 255, 1);
}
.ui.loading.segment:after {
  z-index: 99;
}

.d3-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.flex-col-container {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.flex-row-container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.flex-item {
  flex: 1;
}

.d3-popup {
  position: absolute;
  background: white;
  padding: 4px 10px;
  z-index: 1060;
  text-align: left;
  visibility: hidden;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    border: 8px solid transparent;
  }
  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    border: 7px solid transparent;
  }

  &.right {
    margin-left: 9px;
    &.top:before {
      top: 6px;
      left: -16px;
      border-right-color: rgba(0,0,0,0.15);
    }
    &.top:after {
      top: 7px;
      left: -14px;
      border-right-color: white;
    }
  }

  &.left {
    margin-right: 9px;
    &.top:before{
      top: 6px;
      right: -16px;
      border-left-color: rgba(0,0,0,0.15);
    }
    &.top:after{
      top: 7px;
      right: -14px;
      border-left-color: white;
    }
  }
}

.spacer {
  margin: 5px 0;
}