@charset "utf-8";

@import "../../lib/fui/fui.scss";

.screen-center.container {
  .copyright {
    margin-top: $y-small-gutter;
    color: $grey;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
  }
}