.inline-edit {
  line-height: 1.5;
  > .text {
    padding-right: 0.5em;
  }
  > .icon.write {
    cursor: pointer;
  }
  > .ui.input > input {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
