.log-event-group {
  font-size: 14px;
  max-width: 800px;
  padding: 0px 20px;
  width: 100%;
  .title {
    margin-bottom: 0.5em;
    color: #4183C4;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  .label {
    font-size: 13px;
    color: darkgrey;
  }
  .keyword {
    margin: 0 0.125em;
    cursor: pointer;
    padding: 0 0.25em 0 0.25em;
    display: inline-block;
    line-height: 20px;
    color: #4183C4;
    &:after {
      position: absolute;
      content: ',';
    }
    &:last-child:after {
      content: '';
    }
    &.highlight {
      background-color: rgb(86, 111, 132);
      padding-right: 1.25em;
      color: white;
      &:after {
        position: absolute;
        content: 'x';
        padding-left: 0.5em;
      }
    }
  }
}

.log-event-table {
  width: 100%;
  font-size: 12px;
  td, th {
    border-right: 1px solid black;
    text-align: left;
    vertical-align: top;
    padding: 0.25em 0.5em;
    &.no {
      text-align: center;
    }
    &:last-child {
      border-right-width: 0;
    }
  }
  td {
    border-top: 1px solid black;
  }
  .highlight {
    background-color: yellow;
  }
}

.event-table {
  border: 2px solid black;
  width: 90%;
  td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    vertical-align: top;
  }
  thead > tr {
    border-top: none;
    font-weight: bold;
    td {
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 60%;
      }
      &:nth-child(4) {
        width: 20%;
      }
    }
  }
}

.event-right-table {
  border: 2px solid black;
  width: 80%;
  td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    vertical-align: top;
  }
  thead > tr {
    border-top: none;
    font-weight: bold;
    td {
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}

.rare-event-table {
  border: 2px solid black;
  width: 60%;
  td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    vertical-align: top;
  }
  thead > tr {
    border-top: none;
    font-weight: bold;
    td {
      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
}

.vector-table {
  border: 2px solid black;
  width: 60%;
  td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
  }
  thead > tr {
    &:nth-child(1) {
      border-top: none;
      font-weight: bold;
      td{
        &:nth-child(1){
          width: 20%;
        }
        &:nth-child(2){
          width: 60%;
        }
        &:nth-child(3){
          width: 20%;
        }
      }
    }
  }
}

.freq-event-table {
  margin-left: 50px;    
  border: 2px solid black;
  width: 80%;
  td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    vertical-align: top;
  }
  thead > tr {
    border-top: none;
    font-weight: bold;
    td {
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 60%;
      }
    }
  }
}
