@charset "utf-8";

@import "../../lib/fui/sass/variables";

.log-live {
  .incident-tile {
    margin: 0 $x-gutter $y-gutter 0;
    cursor: pointer;
    > .fui.box {
      .content {
        font-size: 12px;
        width: 248px;
        height: 108px;
        .label {
          font-weight: $font-weight-medium;
        }
      }
      .actions {
        display: none;
        position: absolute;
        right: 1em;
        bottom: 0.5em;
        font-size: 16px;
        .icon {
          margin-left: 0.5em;
        }
        &:hover {
          color: #4183C4;
        }
      }
      &:hover {
        .actions {
          display: block;
        }
      }
    }
  }
  > .fui.log-charts.container {
    flex: 1;
    overflow: hidden;
  }
}