@charset "utf-8";

@import "../../lib/fui/sass/variables";

.log-live {
  .ReactVirtualized__Table__rowColumn {
    z-index: 10;
  }
  .pattern-percent {
    height: 95%;
    position: absolute;
    left: 0;
    background: rgba(33, 133, 208, 1);
  }
  .pattern-name {
    margin-left: 1em;
    color: #4183c4;
    .write.icon {
      margin-left: 0.5em;
      cursor: pointer;
    }
  }
  .incident-tile {
    margin: 0 8px 8px 0;
    cursor: pointer;
    > .fui.box {
      .content {
        font-size: 12px;
        width: 160px;
        height: 92px;
        .label {
          font-weight: $font-weight-medium;
        }
      }
      .actions {
        display: none;
        position: absolute;
        right: 1em;
        bottom: 0.5em;
        font-size: 16px;
        .icon {
          margin-left: 0.5em;
        }
        &:hover {
          color: #4183c4;
        }
      }
      &:hover {
        .actions {
          display: block;
        }
      }
    }
  }
  > .fui.log-charts.container {
    flex: 1;
    overflow: hidden;
  }
}
