@charset "utf-8";

@import "../../lib/fui/sass/variables";

.log-live {
  .incident-tile {
    margin: 0 $x-gutter $y-gutter 0;
    cursor: pointer;
    > .fui.box {
      .content {
        font-size: 12px;
        width: 248px;
        height: 90px;
        .label {
          font-weight: $font-weight-medium;
        }
      }
    }
  }
  > .fui.log-charts.container {
    flex: 1;
    overflow: hidden;
  }
}