.episode-table {
  width: 50% !important;
  tr {
      td{
        &:nth-child(1){
          width: 80%;
        }
        &:nth-child(2){
          width: 10%;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
  }
}

.word-table {
  width: 50% !important;
  tr {
      td{
        &:nth-child(1){
          width: 80%;
        }
        &:nth-child(2){
          width: 10%;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
  }
}
