.episode-table {
  tr {
      td{
        &:nth-child(1){
          width: 60%;
        }
        &:nth-child(2){
          width: 10%;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
  }
}

.word-table {
  tr {
      td{
        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2){
          width: 10%;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
  }
}

.project-settings {
  .ui.tab {
    width: 800px;
  }
}
.grouping-table {
  tr {
      td{
        &:nth-child(1){
          width: 16%;
        }
        &:nth-child(2){
          width: 16%;
        }
        &:nth-child(3){
          width: 16%;
        }
        &:nth-child(4){
          width: 16%;
        }
        &:nth-child(5){
          width: 16%;
        }
        &:nth-child(6){
          width: 16%;
        }
      }
  }
}

.model-settings {
  .model-tile {
    margin: 12px 12px 0px 0;
    >.fui.box {
      cursor: pointer;
      height: 212px;
      padding: 20px 18px;
      .meta {
        font-size: 12px;
        padding: 1em 0 0;
        .icon {
          font-size: 18px;
          visibility: hidden;
          cursor: pointer;
          position: absolute;
          top: 2px;
          right: 0;
          color: rgba(0, 0, 0, 0.35);
        }
      }
      &:hover {
        .icon {
          visibility: visible;
        }
      }
    }
    &.picked {
      >.fui.box {
        .icon {
          visibility: visible;
          color: #F2711C;
        }
      }
    }
    &.big {
      margin: 0 0 12px 0;
      >.fui.box {
        height: 272px;
        margin: 0 auto;
        .meta {
          font-size: 14px;
          .icon {
            display: none;
          }
        }
      }
    }
  }

  .item {
    line-height: 32px;
    color: #4183C4;
    padding: 0 1em 0 1em;
    font-weight: bold;
    position: relative;
    .action {
      cursor: pointer;
      font-size: 14px;
      color: #F2711C;
      position: absolute;
      top: 7px;
      height: 20px;
      margin-left: 1em;
    }
    &.selected:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: #F2711C;
      top: 0;
      left: 0;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05) !important;
    }
  }
}
