.treemap {
  svg {
    text {
      pointer-events: none;
      fill: white;
    }

    rect {
      stroke: #fff;
    }

    .navbar {
      rect {
        fill: #F2711C;
        cursor: pointer;
        color: white;
      }
      text {
        font-size: 13px;
      }
      &:hover rect {
        fill: #f26202;
      }
    }

    .depth {
      rect.parent {
        stroke-width: 1px;
        fill: #21BA45;
        &:hover {
          fill: #16ab39;
        }
        &.error {
          fill: #DB2828;
          &:hover {
            fill: #d01919;
          }
        }
      }

      .children rect.parent {
        cursor: pointer;
      }
    }
  }
}

.incidents.treemap {
  border: 1px solid rgba(34,36,38,.15);
  height: 500px;
}

